# Python
__pycache__/
*.egg-info/
dist/
.venv/

# Node.js
node_modules/
dist/

# Go
*.exe

# Rust
target/
Cargo.lock

# Java
target/
*.class
*.jar

# C#
bin/
obj/

# Package validation outputs
/build/
/install/
artifacts/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
